/***** GENERAL *****/
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'game_of_thronesregular';
    src: url('game_of_thrones-webfont.woff2') format('woff2'),
         url('game_of_thrones-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url("../img/got-background.jpg") no-repeat center center fixed; 
    background-size: cover;
}

.row {  
    display: flex;
    flex-flow: row wrap;
}

/***** HEADER *****/

.col-2 {
    width: 10%;
}

.col-8 {
    width: 80%;
}

#scoreboard {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 16px;
    text-align: start;
    color: #fff;
    padding: 1% 0 0 1%;
}

#title {
    font-family: 'game_of_thronesregular', 'Cinzel Decorative', cursive;
    font-size: 64px;
    text-align: center;
    color: #fff;
    margin-top: 3%;
}

#nerd {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 24px;
    text-align: center;
    color: #fff;
}

#timer {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 16px;
    text-align: end;
    color: #fff;
    padding: 1% 1% 0 0;
}
#countdown {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

/***** MAIN *****/

#game-box {
    margin: 8% auto; 
    background: #fff;
    opacity: 80%;
    width: 50%;
    border-radius: 10px;
}

#question-section {
    margin: 5% auto;
    width: 70%;
    align-items: flex-start;
}

#question-text {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 28px;
}

#game-over {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 36px;
    text-align: center;
    margin: auto;
}

#welcome {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 36px;
    text-align: center;
}

#answer-section {
    margin: 5% auto;
    width: 70%;
    align-items: center;
}

#begin {
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    margin: auto;
}

button {
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    display: block;
    margin-bottom: 2%;
    align-content: space-evenly;
}

#percentage {
    font-family: 'Crimson Text', serif;
    font-size: 32px;
    text-align: center;
    margin: auto;
}

/***** FOOTER *****/
#fact-section {
    margin: 5% auto;
    width: 70%;
    align-items: flex-end;
    text-align: center;
}

#footnote {
    font-family: 'Crimson Text', serif;
    font-size: 16px;
}

/***** BREAKPOINTS *****/
@media screen and (max-width: 481px) {
    #game-box {
        width: 90%;
    }
    #title {
        font-size: 42px;
    }
    #nerd {
        font-size: 16px;
    }
    #welcome {
        font-size: 20px;
    }
    #question-text {
        font-size: 20px;
    }
}
@media screen and (max-width: 769px) {
    #game-box {
        width: 80%;
    }
    #title {
        font-size: 54px;
    }
    #nerd {
        font-size: 20px;
    }
    #welcome {
        font-size: 26px;
    }
    #question-text {
        font-size: 26px;
    }
}
@media screen and (max-width: 1025px) {
    #game-box {
        width: 65%;
    }
}

/***** TO DO *****/
/* Create media queries for screen breakpoints */