/* GENERAL */
* {
    box-sizing: border-box;
}

body {
    background: url("img/got-background.jpg") no-repeat center center fixed; 
    background-size: cover;
}

.row {  
    display: flex;
    flex-flow: row wrap;
}

/* font-family: 'Cinzel Decorative', cursive; */

/* HEADER */

.col-3 {
    width: 25%;
}

.col-6 {
    width: 50%;
}

#scoreboard {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 16px;
    text-align: start;
    color: #fff;
}

#title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 44px;
    text-align: center;
    color: #fff;
}

span {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

#timer {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 16px;
    text-align: end;
    color: #fff;
}

/* MAIN */

#game-box {
    margin: 10% auto; 
    background: #fff;
    opacity: 80%;
    width: 50%;
    border-radius: 5px;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 28px;
    margin: 5% auto;
    width: 60%;
    align-items: flex-start;
}

#answer-section {
    margin: 5% auto;
    width: 60%;
    align-items: center;
}

button {
    display: block;
    margin-bottom: 2%;
    align-content: space-evenly;
}

#result-section {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 18px;
    font-weight: 300;
    margin: 5% auto;
    width: 60%;
    align-items: flex-end;
}